body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

li:hover {
    background-color: #f2f2f2;
}

.task {
    flex-grow: 1;
  
}

.delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #d32f2f;
}

.tasks{
    width: 80%;
    margin: auto;
    padding: 10px;
    padding-left: 30px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
#task{
    margin-left: 100px;
}
.status{
    background-color: rgb(130, 195, 31);
    border: none;
    width: 75px;
    padding: 5px;
    border-radius: 5px;
font-size: 15px;

color: #ffffff;
}